# Datasets
datasets/**
!datasets/.gitkeep

# Models
models/**
!models/.gitkeep

# Dataset Prepared Path
last_run_prepared/**
!last_run_prepared/.gitkeep

# Huggingface Cache
huggingface/*
!huggingface/accelerate/
!huggingface/.gitkeep

# Output
out/**
!out/.gitkeep
